server:
  port: 1285
  servlet:
    context-path: /cms
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cms?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT
    username: root
    password: root

mybatis-plus:
  global-config:
    db-config:
      id-type: auto
      field-strategy: not_empty
      column-underline: true
      logic-delete-value: 1
      logic-not-delete-value: 0

      db-type: mysql
    refresh: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
  mapper-locations: classpath*:mapper/*Mapper.xml
  type-aliases-package: com.lsh.entity

#Õº∆¨Œª÷√
system:
  filePath: C:\img
  urlPath: http://localhost:${server.port}${server.servlet.context-path}

