<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/css/layui.css" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" href="../assets/css/view.css" th:href="@{/assets/css/view.css}"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>总用户数</span>
                                </div>
                                <div class="total" th:text="${userCount}">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                系统用户
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>日注册量</span>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>总角色数</span>
                                </div>
                                <div class="total" th:text="${roleCount}">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                系统角色数量
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>新增角色</span>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>总菜单数</span>
                                </div>
                                <div class="total" th:text="${menuCount}">126,560</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                系统菜单数量
                            </div>
                        </div>
                        <div class="chart-footer">
                            <div class="field">
                                <span>新增菜单</span>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">新增数</li>
                            <li>活跃度</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                dddd
                            </div>
                            <div class="layui-tab-item">
                                ddd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js" th:src="@{/assets/layui.all.js}"></script>
    <script>
        const element = layui.element;
    </script>
</body>
</html>