<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>天悦电影网</title>
	<meta name="description" content="edwarder.com">
	<meta name="author" content="www.edwarder.com">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" th:href="@{/front/css/zerogrid.css}">
	<link rel="stylesheet" th:href="@{/front/css/style.css}">
	<link rel="stylesheet" th:href="@{/front/css/responsive.css}">
</head>
	<body>
	<div class="wrap-body">

		<!--////////////////////////////////////Header-->
		<div th:replace="front/common/nav :: nav"></div>


		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container zerogrid">
				<div id="main-content" class="col-2-3">
					<div class="wrap-content">
						<article>
							<div class="art-header">
								<div class="col-1-3">
									<div class="wrap-col">
										<img style="width: 240px;height: 280px;" th:src="@{'/public/film/' + ${film.filmPic}}"  />
									</div>
								</div>
								<div class="col-2-3">
									<div class="wrap-col">
										<ul>
											<h1 th:text="${film.filmUrl}">你们的</h1>
											<li><p>片名: <a href="#" th:text="${film.filmName}">Action</a></p></li>
											<li><p>主演: <a href="#" th:text="${film.actor}">沈腾 Teng Shen</a></p></li>
											<li><p>导演: <a href="#" th:text="${film.director}">闫非 Fei Yan / 彭大魔 Damo Peng</a></p></li>
											<li><p>产地: <a href="#" th:text="${film.nation}">中国大陆</a></p></li>
											<li><p>语言: <a href="#" th:text="${#dict.getDictLabel('language',film.language)}">汉语普通话</a></p></li>
											<li><p>上映时间: <a href="#" th:text="${film.releaseTime}">2018-07-27(中国大陆)</a></p></li>
											<li class="star"><a href="#"><img th:src="@{/front/images/star.png}" /></a></li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="art-content" th:utext="${film.summary}"></div>
						</article>
						<div class="widget wid-related">
							<div class="wid-header">
								<h5>Related Post</h5>
							</div>
							<div class="wid-content">
								<div class="row">
									<div class="col-1-3">
										<div class="wrap-col">
											<a href="#"><img th:src="@{/front/images/10.jpg}" /></a>
											<a href="#"><h4>Vero eros et accumsan et iusto odio </h4></a>
										</div>
									</div>
									<div class="col-1-3">
										<div class="wrap-col">
											<a href="#"><img th:src="@{/front/images/13.jpg}" /></a>
											<a href="#"><h4>Vero eros et accumsan et iusto odio </h4></a>
										</div>
									</div>
									<div class="col-1-3">
										<div class="wrap-col">
											<a href="#"><img th:src="@{/front/images/6.jpg}" /></a>
											<a href="#"><h4>Vero eros et accumsan et iusto odio </h4></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar" class="col-1-3">
					<div class="wrap-sidebar">
						<!---- Start Widget ---->
						<div class="widget wid-new-updates">
							<div class="wid-header">
								<h5>Hot Updates !</h5>
							</div>
							<div class="wid-content">
								<ul>
								<li><a href="#">Mad Max: Fury Road</a><span><img th:src="@{/front/images/hot.png}" /></span></li>
								<li><a href="#">The Age of Adaline</a><span><img th:src="@{/front/images/hot.png}" /></span></li>
								<li><a href="#">Pound of Flesh</a><span><img th:src="@{/front/images/hot.png}" /></span></li>
								<li><a href="#">Bloodbath Island</a><span><img th:src="@{/front/images/hot.png}" /></span></li>
								<li><a href="#">Pound of Flesh</a><span><img th:src="@{/front/images/hot.png}" /></span></li>
								</ul>
							</div>
						</div>

						<div class="widget wid-post">
							<div class="wid-header">
								<h5>Today's movies</h5>
							</div>
							<div class="wid-content">
								<div class="post">
									<a href="#"><img th:src="@{/front/images/1.jpg}"/></a>
									<div class="wrapper">
									  <a href="#"><h6>A Blue Morning</h6></a>
									  <p>March 1, 2015</p>
									  <a href="#"><img th:src="@{/front/images/star.png}" /></a>
									</div>
								</div>
							</div>
						</div>
						<!---- Start Widget ---->
						<!--<div class="widget wid-last-updates">
							<div class="wid-header">
								<h5>Lastest Updates</h5>
							</div>
							<div class="wid-content">
								<div class="post">
									<a href="#"><img src="images/1.jpg"/></a>
									<div class="wrapper">
									  <a href="#"><h6>A Blue Morning</h6></a>
									  <p>March 1, 2015</p>
									  <a href="#"><img src="images/star.png" /></a>
									</div>
								</div>
								<div class="post">
									<a href="#"><img src="images/2.jpg"/></a>
									<div class="wrapper">
									 <a href="#"><h6>A Blue Morning</h6></a>
									  <p>March 1, 2015</p>
									  <a href="#"><img src="images/star.png" /></a>
									</div>
								</div>
								<div class="post">
									<a href="#"><img src="images/3.jpg"/></a>
									<div class="wrapper">
									 <a href="#"><h6>A Blue Morning</h6></a>
									  <p>March 1, 2015</p>
									  <a href="#"><img src="images/star.png" /></a>
									</div>
								</div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
		</section>

		<!--////////////////////////////////////Footer-->
		<div th:replace="front/common/footer :: footer"></div>
		</div>

	</body>
</html>