<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/layui1.css}" />
		<script th:src="@{/front/js/jquery.min.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/front/css/Video.css}"/>
		<title th:text="'正在播放《'+${film.filmName}+'》--光视影线'">正在播放《战地风云》--光视影线</title>
		
	</head>
	<body>
		<div class="demo">
			<!-- 导航栏 -->
			<div class="nav" >
				<ul class="layui-nav nav-top" lay-filter="" >
					<li class="layui-nav-item nav-item-top "><img th:src="@{/front/images/logo.png}"></li>
					<li class="layui-nav-item nav-item-top02"><a th:href="@{/f/film/index}">首页</a></li>
					<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type1(typeNo=${'1'})}">战争/科幻</a></li>
					<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type2(typeNo=${'2'})}">武侠/历史</a></li>
					<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type3(typeNo=${'3'})}">动作/犯罪</a></li>
					<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type4(typeNo=${'4'})}">恐怖/惊悚</a></li>
				</ul>
				<div class="top_01">
				</div>
				
			<!--影片标题-->
			<div class="video-title">
				<h1 th:text="'正在播放《'+${film.filmName}+'》--光视影线'">正在播放<a id="title01" href="#" >《战地风云》</a></h1>
			</div>
			<!-- Video -->


			<div class="video">
				<video width="1280" height="720" controls autoplay>
					
				  <source th:src="@{'/public/video/' + ${film.filmUrl}}" type="video/mp4">

				您的浏览器不支持Video标签。
				</video>
			</div>
			
			<!-- 影片介绍 -->
			<div class="Video-introduction" >
				<div class="layui-row Video-poster"> 
					<!-- 影片（电影+影名+年份） -->
				    <div class="layui-col-md4 poster">
						<!--电影图库-->
						<div class="layui-row movie-img">
							<img th:if="not ${#lists.isEmpty(film.filmPic)}" class="thumb" th:src="@{'/public/film/' + ${film.filmPic}}" th:width="240px" th:height="360px" />
							<img th:unless="not ${#lists.isEmpty(film.filmPic)}" class="thumb" th:src="@{/front/images/poster-default.png}" th:width="240px" th:height="360px" />
						</div>
						<!--影名+年份-->
						<div class="layui-row" style="margin-top: 10px;">
							<!--影名-->
							<div class="layui-col-md9">
							      <a href="" ><h2 th:text="${film.filmName}" style="color: #FFFFFF;font-weight:bold;">战争风云</h2></a>
							</div>
							<!--年份-->
							<div class="layui-col-md3"style="color: #bfc0c6;margin-top: 4px;" >
							      <h2 th:text="'('+${film.releaseTime}+')'">(2020)</h2>
							</div>
						</div>
				    </div>
					
					<!--右边详情介绍-->
				    <div class="layui-col-md8 introduction " >
						<!--类型-->
						<div class="layui-row leixing">
							<span th:id="leixing-title">类型:</span>
							<span th:text="${#dict.getDictLabel('filmtype',film.type)}">科幻/战争</span>
						</div>
						
						<!--主演-->
						<div class="layui-row zhuyan">
							<div class="layui-row leixing">
								<span th:id="leixing-title">主演:</span>
								<span th:text="${film.actor}">小罗伯特·唐尼，克里斯·埃文斯，马克·鲁法洛， 克里斯·海姆斯沃斯，斯嘉丽·约翰逊 ... ...</span>
						</div>
						
						<!--详情-->
						<div class="layui-row xiangqi ">
							<div class="layui-row xiangqi-01" th:utext="${film.summary}">

							</div>
						</div>
						 
							  
					</div>
						  
					</div>
				</div>
			</div>
			
			<!-- 页脚 -->

			</div>
		</div>
	</body>
</html>
