<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>光视影线</title>
	<link rel="stylesheet" href="../../static/assets/css/layui1.css" th:href="@{/assets/css/layui1.css}" />
	<link rel="stylesheet" href="../../static/front/css/style01.css" th:href="@{/front/css/style01.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/layui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/view.css}" />
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<link rel="stylesheet" th:href="@{/front/css/zerogrid.css}">
	<link rel="stylesheet" th:href="@{/front/css/style.css}">
	<link rel="stylesheet" th:href="@{/front/css/responsive.css}">
</head>

<body>
	<div class="demo">
		<!-- 导航栏 -->
		<div class="nav">
			<ul class="layui-nav nav-top" lay-filter="">
				<li class="layui-nav-item nav-item-top"><img th:src="@{/front/images/logo.png}"></li>
				<li class="layui-nav-item nav-item-top02"><a th:href="@{/f/film/index}">首页</a></li>
				<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type1(typeNo=${'1'})}">战争/科幻</a></li>
				<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type2(typeNo=${'2'})}">武侠/历史</a></li>
				<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type3(typeNo=${'3'})}">动作/犯罪</a></li>
				<li class="layui-nav-item nav-item-top"><a th:href="@{/f/film/type4(typeNo=${'4'})}">恐怖/惊悚</a></li>

			</ul>
			<div class="top_bommer">
			</div>
		</div>
		<!-- 总体上半部分 -->
		<div class="top">
			<!-- 文字and按钮 -->
			<div class="top_inner_1">
				<img th:src="@{/front/images/title.png}" class="top_button">
				<!--按钮-->
				<button type="button" th:height="70px"
					class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal top_button_btn"
					onclick="javascrtpt:window.location.href='Video.html'"> </button>
			</div>
			<!-- banner and 轮播 -->

			<div class="layui-row">
				<div class="layui-col-md6">
					<!-- 左banner -->
					<div class=" top_inner_2_left">
						<div class="left left_1">
							<a href=""><img th:src="@{/front/images/banner04.png}"></a>
						</div>
						<div class="left left_2">
							<a href=""><img th:src="@{/front/images/banner05.png}"></a>
						</div>
						<div class="left left_3">
							<a href=""><img th:src="@{/front/images/banner06.png}"></a>
						</div>
					</div>
				</div>
				<div class="layui-col-md6">
					<!-- 轮播图 -->
					<div class=" top_inner_2_right">
						<div class="layui-carousel test01" id="test1">
							<div carousel-item>
								<div><a href=""><img th:src="@{/front/images/banner01.png}"></a></div>
								<div><a href=""><img th:src="@{/front/images/banner02.png}"></a></div>
								<div><a href=""><img th:src="@{/front/images/banner03.png}"></a></div>
								<div><a href=""><img th:src="@{/front/images/banner07.png}"></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="top_title">

			</div>


			<div class="wrap-container zerogrid">
				<div id="main-content" class="col-full">
					<div class="wrap-content">
						<div class="movie">
							<div class="row type">
								<div class="row">
									<div class="col-1-6" th:each="film:${page.records}">
										<div class="wrap-col">
											<div class="post">
												<div class="view effect">
													<img class="thumb" th:src="@{'/public/film/' + ${film.filmPic}}"
														th:width="240px" th:height="360px" />
													<div class="mask">
														<a th:href="@{/f/film/details(id=${film.id})}" class="info"
															title="Full Image"><img
																th:src="@{/front/images/play_button_64.png}" /></a>
													</div>

												</div>
												<div class="clear"></div>
												<a th:href="@{/f/film/details(id=${film.id})}">
													<h3 th:text="${film.filmName}">战狼2</h3>
												</a>
												<span th:text="${film.filmName}">吴京</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<center>
					<div class="pagination">
						<a href="javascript:;" th:disabled="${page.current == 1 ? 'true' : 'false'}"
							th:class="${page.current == 1 ? 'page active' : 'page gradient'}"
							th:href="@{/f/film/index(pageNo=1)}">首页</a>

						<a th:each="i : ${#numbers.sequence(1,page.pages)}" href="#"
									   th:class="${page.current == i ? 'page active' : 'page gradient'}"
									   th:text="${i}" th:href="@{/f/film/index(pageNo=${i})}" >1</a>

									<a href="javascript:;" th:disabled="${page.current == page.pages ? 'true' : false}"
									   th:class="${page.current == page.pages ? 'page active' : 'page gradient'}" th:href="@{/f/film/index(pageNo=${page.pages})}">尾页</a>
								</div></center>


							</div>
						</div>

					</div>
		<!-- 页脚 -->
	<div class="bottom_inner_4" >
		<img th:src="@{/front/images/talkme.png}" class="bottom_inner_4_1" >
		<img th:src="@{/front/images/aboutWe.png}" class="bottom_inner_4_2"  >
		<img th:src="@{/front/images/foot-log.png}" class="bottom_inner_4_3" >
		<img th:src="@{/front/images/beian.png}" class="bottom_inner_4_4" >
		<img th:src="@{/front/images/repoter.png}" class="bottom_inner_4_5"  >
	</div>
	</div>


	</div>
</body>
<script src="../assets/layui.all.js" th:src="@{/assets/layui.all.js}"></script>
<script type="text/javascript">
	//登录注册
	function login() {
		layer.open({
			type: 2,
			title: false,
			shade: 0.5,
			maxmin: false,
			anim: 5,
			skin: 'layui-layer-nobg',
			shadeClose: true, //点击遮罩关闭层
			area: ['900px', '640px'],
			content: 'login.html'//弹框显示的url
		});
	}
	//轮播图
	layui.use('carousel', function () {
		const carousel = layui.carousel;
		//建造实例
		carousel.render({
			elem: '#test1'
			, width: '800px' //设置容器宽度
			, arrow: 'none' //始终显示箭头
			, height: '500px'
		});
	});

</script>



</html>