<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsh.mapper.SysUserMapper">
    <resultMap id="userMap" type="SysUser">
        <id property="id" column="id"/>
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="mobile" column="mobile" />
        <collection property="roles" ofType="SysRole">
            <id property="id" column="role_id"></id>
            <result property="name" column="role_name"/>
        </collection>
    </resultMap>

    <select id="findUserByName" parameterType="java.lang.String" resultMap="userMap">
        select u.*
        ,r.name role_name,r.id role_id
        from sys_user u
        LEFT JOIN sys_user_role sru on u.id = sru.sys_user_id
        LEFT JOIN sys_role r on sru.sys_role_id=r.id
        WHERE u.username= #{username} and u.status = '1'
    </select>
</mapper>
