<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">

				<div class="bottom_inner_4">
					<img th:src="@{/front/images/talkme.png}" class="bottom_inner_4_1" >
					<img th:src="@{/front/images/aboutWe.png}" class="bottom_inner_4_2"  >
					<img th:src="@{/front/images/foot-log.png}" class="bottom_inner_4_3" >
					<img th:src="@{/front/images/beian.png}" class="bottom_inner_4_4"  url="http://www.miitbeian.gov.cn/">
					<img th:src="@{/front/images/repoter.png}" class="bottom_inner_4_5"  >
				</div>

</footer>