<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="nav">
	<div class="demo">
		<!-- 导航栏 -->
		<div class="nav">
			<ul class="layui-nav nav-top" lay-filter="" >
				<li class="layui-nav-item nav-item-top" ><img th:src="@{/front/images/logo.png}"></li>
				<li class="layui-nav-item nav-item-top02" ><a th:href="@{/f/film/index}">首页</a></li>
				<li class="layui-nav-item nav-item-top" ><a th:href="@{/f/film/movie02}">战争/科幻</a></li>
				<li class="layui-nav-item nav-item-top" ><a th:href="@{/f/film/movie03}">动作/犯罪</a></li>
				<li class="layui-nav-item nav-item-top" ><a th:href="@{/f/film/movie04}">武侠/历史</a></li>
				<li class="layui-nav-item nav-item-top" ><a th:href="@{/f/film/movie05}">其他电影</a></li>
				<li class="layui-nav-item nav-item-top"  ><a th:href="@{javascrip:void(0)}" onclick="login()"><i class="layui-icon layui-icon-user nav-user" ></i>  登录|注册</a></li>
			</ul>
			<div class="top_bommer">
			</div>
		</div>
</header>